@import "./extras/mixins.scss";
@import "./extras/nomralize.scss";

@import "./wp-gallery.scss";

*{
  box-sizing: border-box;
}

#wp-app {
  
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }